@font-face {
    font-family: 'Noto Sans Osage';
    src: url('NotoSansOsage-Regular.woff2') format('woff2'),
        url('NotoSansOsage-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: 'Noto Sans Osage';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 3.366rem; /* 53.92px */}

h2 {font-size: 2.525rem; /* 40.32px */}

h3 {font-size: 1.894rem; /* 30.24px */}

h4 {font-size: 1.421rem; /* 22.72px */}

h5 {font-size: 1.066rem; /* 17.12px */}

small {font-size: 0.600rem; /* 9.6px */}

#root, #__next {
  isolation: isolate;
}

:root {
  --side-bar-width: 300px;
  --header-height: 60.609px;
}

:root[data-theme="light"] {
  --text: hsl(245, 46%, 5%);
  --background: hsl(249, 79%, 78%);
  --background-filter: invert(65%) sepia(68%) saturate(705%) hue-rotate(200deg) brightness(94%) contrast(103%);
  --primary: hsl(249, 78%, 71%);
  --secondary: hsl(249, 80%, 66%);
  --accent: hsl(249, 91%, 50%);
}
:root[data-theme="dark"] {
  --text: hsl(245, 46%, 95%);
  --background: hsl(249, 79%, 22%);
  --primary: hsl(249, 78%, 29%);
  --secondary: hsl(249, 80%, 34%);
  --accent: hsl(249, 91%, 50%);
  --background-filter: invert(13%) sepia(39%) saturate(4003%) hue-rotate(238deg) brightness(84%) contrast(119%);
}

body {
  font-family: "Noto Sans Osage";
  color: var(--text);
}

svg {
  fill: var(--text)
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  gap: 8px;
  height: var(--header-height);
  width: max(calc(600px + 16px + 200px),100vw);
  user-select: none;
}

.menu-tab {
  width: var(--side-bar-width);
  height: parent;
  display: flex;
  align-items: center;
  padding: 0px 16px;
}

.icon {
  width: 24px;
  height: auto;
}

.header-buttons{
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding: 0px 16px;
  width: var(--side-bar-width);
}

.theme {
  position: relative;
  align-self: center;
}

.light {
  opacity: 100%;
}

.dark {
  position: absolute;
  top: 0;
  rotate: 330deg;
  opacity: 0%;
}

main{
  height: calc(100vh - var(--header-height));
  width: 100vw;
  display: flex;
}

.sidebar {
  background-color: var(--secondary);
  width: var(--side-bar-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar > nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 16px 16px 8px;
}

nav > button, .sidebar-options > button{
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  color: var(--text);
}

button.active-btn {
  background-color: var(--primary);
  border-radius: 8px;
}

nav > button {
  border-bottom: 1px solid var(--text);
  padding-bottom: 8px;
}
 
.sidebar-options {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.projects {
  height: 100%;
  overflow-y: auto;
  margin: 0px 16px 16px;
  display: grid;
  grid-auto-rows: 150px;
  gap: 16px;
}

.projects::-webkit-scrollbar{
  display: none;
}

.projects > * {
  border: 1px solid black;
}

.sidebar-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-top: 1px solid var(--text);
}

.add {
  display: flex;
  gap: 8px;
}

.main-content{
  width: 100%;
  height: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#content {
  flex: 1;
}

.page {
  height: 100%;
  width: 100%;
  padding: 16px 64px 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-content,
#content,
.today-page {
  min-height: 0; 
}

.content-header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header-icon {
  height: 32px;
  width: auto;
}

.tasks-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow-y: auto;   /* ✅ allow vertical scrolling */
  min-height: 0;
}

.tasks-section::-webkit-scrollbar
{
  display: none;
}

.tasks-section > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-section-header{
  display: flex;
  gap: 8px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--text);
  align-items: center;
}
.border-off  {
  border: none;
}

.dropdown-menu {
  margin-left: auto;
  position: relative;
  align-self: center;
  user-select: none;
}

.up {
  opacity: 100%;
}

.down{
  position: absolute;
  top: 0;
  opacity: 0%;
}


.emoji-icon {
  height: 16px;
  width: auto;
}

.evening-icon{
  rotate: 90deg;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task {
  display: flex;
  align-items: center;
  gap: 8px;
}

div.task > input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.task > label {
  display: flex;
  flex-direction: column;
}

.task-header {
  display: flex;
  gap: 8px;
}

.task-header > button {
  font-size: smaller;
  background: none;
  border: none;
  padding: 0px 12px;
  border-radius: 8px;
}

.task-header > button.date-btn
{
  border: 1px solid var(--accent);
  color: var(--accent);
}

.task-header > button.important-btn{
  background-color: var(--text);
  color: var(--accent);
  font-weight: bold;
}

.task-description {
  font-size: small;
  opacity: 50%;
}

.content-setting {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary);
  align-items: center;
  padding: 8px 16px;
  border-top: 1px solid var(--text);
  height: 42.50px;
}

.add-task-window {
  position: absolute;
  justify-self: center;
  top: var(--header-height);
  margin: 64px;
  height: calc(100% - var(--header-height) - var(--header-height) - 128px);
  padding: 32px;
  border-radius: 8px;
  border: none;
  background-color: var(--text);
  color: var(--background);
  box-shadow: 5px 5px 25px rgb(0, 0, 0);
}

.add-task-window > #add-task-form {
  display: grid;
  height: 100%;
  width: 350px;
  grid-template-rows: max-content repeat(3,1fr) 2fr 1fr;
  gap: 32px;
}

.exit-button {
  position: absolute;
  fill: var(--background);
  right: 16px;
  top: 16px;
}

.add-task-window > #add-task-form> h3 {
  text-align: center;
}

.form-task-name,.form-task-labels, 
.date, .time, .form-task-desc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-task-name > input, .date > input, .time > input  {
  height: 100%;
  border: 1px solid var(--background);
  border-radius: 4px;
  padding: 0px 8px;
  background-color: var(--text);
  color: var(--background);
  font-size: 0.9rem;
}

#task-labels {
  height: 100%;
  border: 1px solid var(--background);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 8px;
  gap: 8px;
}

.label-inputs {
  width: 100%;
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding-bottom: 4px;
}

.label-inputs::-webkit-scrollbar {
  height: 4px;
}

.label-inputs::-webkit-scrollbar-track {
  background: transparent; 
}

.label-inputs::-webkit-scrollbar-thumb {
  background-color: rgb(170, 170, 170); 
  border-radius: 4px;
}

.label {
  display: flex;
  flex-shrink: 0;
}

.label > [type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.label > [type=checkbox] + div {
  cursor: pointer;
  font-size: small;
  display: flex;
  gap: 4px;
  padding: 0px 4px;
  border-radius: 4px;
  color: var(--text);
  align-items: center;
}

.label > [type=checkbox] + div > svg {
  width: 12px;
  height: 12px;
  fill: var(--text);
}

.label > [type=checkbox]:checked + div {
  background-color: var(--accent);
  font-weight: bold;
}



.open-labels {
  display: flex;
  align-items: center;
  font-size: small;
  padding: 0px 8px;
  gap: 4px;
}

.open-labels > svg {
  width: 16px;
  height: auto;
}

.form-task-date {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.form-task-desc > textarea {
  height: 100%;
  padding: 0px 4px;
  border: 1px solid var(--background);
  border-radius: 4px;
  padding: 8px;
  background-color: var(--text);
  color: var(--background);
  font-size: 0.9rem;
}

label {
  opacity: 80%;
}


button.submit-button, button.open-labels {
  background-color: var(--background);
  color: var(--text);
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

::placeholder {
  color: var(--background);
  opacity: 80%;
  font-size: 0.9rem;
}


::-webkit-calendar-picker-indicator {
  filter: var(--background-filter); 
}


input:focus, textarea:focus
{
  outline: 1px solid var(--accent);
}

.add-labels {
  position: absolute;
  padding: 8px 16px ;
  background-color: var(--text);
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  border: none;
  background-color: var(--primary);
  color: var(--text);
  width: 275px;
  right: 0;
  margin: 32px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.add-labels-header {
  display: flex;
  border-bottom: 1px solid var(--text);
  padding-bottom: 4px;
  gap: 4px;
}

.add-labels-header > svg {
  width: 16px;
}

.add-labels-header > .exit-new-label {
  margin-left: auto;
}

.label-options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.label-options > label {
  border: 1px solid var(--text);
  border-radius: 4px;
}
.label-options > label:hover {
  font-weight: bold;
}

.form-task-name, .form-task-desc > label{
  position: relative;
}

.input-icon {
  position: absolute;
  bottom: 16px;
  right: 8px;
  width: 16px;
  height: auto;
  fill: var(--background);
}

.task-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.reset-icon {
  width: 16px;
  height: 16px;
  fill: var(--background);
}

::backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px); 
}

.user-valid {
  outline: 2px solid #00c896;
}

.user-invalid {
  outline: 2px solid red;
}
